.about-wrapper{
    background: linear-gradient(to bottom, #7CC6BA, #687BFC);
height: 20vh;
margin-top: -25px;
}

.about-name{
    text-align: center;
    color: #fff;
    font-size: 25px;
    transform: translateY(20px);
}
.about-title{
    text-align: center;
    color: #6b6b6b;
    font-size: 23px;

} 

.about-locator-box{
    display: flex;
justify-content: center;
}

.about-locator-state{
    font-size: 20px;
    color: #fff;
}

.about-locator-box img{
    height: 24px;
    transform: translate(-20px);
    margin-top: 20px;
}

.social-logo-box{
    display: flex;
    justify-content: center;
    transform: translateY(-60px);
}
.social-logo{
   
    height: 120px;
}
.about-main h1{
    text-align: center;
    margin-left: 20px;
}

.about-main p{
text-align: center;
margin: auto;
padding-bottom: 1rem;
line-height: 30px;
width: 20%;
}

.about-contact-btn{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #7CC6BA, #687BFC);
color: #fff;
border-radius: 20px;
margin: auto;
border: none;
padding: 12px 30px;
cursor: pointer;
}

.social-links-box{
    display: flex;
    justify-content: center;
}

.social-links-box img{
    height: 24px;
    transform: translateY(14px);
    padding-left: 1rem;
    cursor: pointer;

}

@media(max-width:1600px){
    .about-main p{
        width: 40%;
    }}
@media(max-width:1400px){
    .about-main p{
        width: 60%;
    }}

@media(max-width:768px){
    .social-links-box{
        font-size: 15px;
        transform: translateY(30px);
    }}

@media(max-width:400px){
    .social-logo-box{
       
        transform: translateY(-30px);
    }

    .social-logo{
        height: 50px;

    }

    .about-main h1{
        font-size: 20px;

    }
    .about-main p{
width: 100% !important;
    }

    .about-wrapper{
        height: 23vh;
    }}