<div class="about-wrapper">
    <div class="about-name"><p>Phillip Bailey</p></div>
    <div class="about-title"><p>UI/UX Designer | Front End Developer</p></div>
    <div class="about-locator-box">
    <img src="../../assets/img/locator-icon.png"alt="">
    <p class="about-locator-state">LaFayette, Georgia</p>
    
    </div>
    

    
    </div>
    <div class="social-logo-box">
    <img class="social-logo" src="../../assets/img/social-logo.png" alt="">
    </div>
    
    
    
    <div class="about-main">
    <h1>
    About Phillip</h1>
    <hr style="width: 70%;">
    <p>Creative UI Developer with 7+ years facilitating and supporting human interactions with complex systems and software. Maintains user-centric designs while adhering to prescribed interface principles and related development goals. Dedicated to creating inviting and unintimidating interfaces for everything from simple open-source applications to complex proprietary systems.</p>
    </div>
    
   <button (click)="gotoContact()" class="about-contact-btn">CONTACT</button>


   <div class="social-links-box">
    
    
    <p>&#169;Created by Phillip Andrew Bailey</p>
    
    <div style="margin-right: 1rem;">
    <img onclick="window.open('https://www.linkedin.com/in/ogphillip-bailey/', '_blank');"  src="../../assets/img/linkedin-icon.png" alt="">
    </div>
    
    
    </div>
