


<nav  class="navbar">
<div class="logo">
<img routerLink="/home" routerLinkActive="router-link-active"  src="../../assets/img/name-text.png" alt="logo"/>
</div>
               
<ul id="navlink" class="navlinks">
<li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
<li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About ME</a></li>
<li><a routerLink="/mywork" routerLinkActive="active" ariaCurrentWhenActive="page" >My Work</a></li>
<li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" >Contact</a></li>
</ul>
</nav>
