<div class="contact-wrapper">
    <div class="ui-pic-box">
    <img src="../../assets/img/ui evenlope.png"  alt=""/>
    </div>
    
    <div  class="contact-title">CONTACT</div>
    
    
    <div class="contact-address">
    <p class="contact-name">Phillip Andrew Bailey</p>
    <p style="color:#fff;line-height:50px;font-size:22px">203 W Main Street | APT. 107 <br/>
    LaFayette, GA 30728
    </p>
    </div>
    <hr style="width: 50rem"/>
    
    <div class="email-contact">
    <img style="margin-top:28px"  src="../../assets/img/small-evenlope.png" alt=""/>
    <p class="email-name">ztron500@gmail.com</p>
    </div>
    
    <div class="phone-contact">
    <img src="../../assets/img/phone-icon.png" alt=""/>
    <p class="phone-contact-name">423-208-8573</p>
    </div>
    
    
    <div class="social-links-box">
    
    
<p>&#169;Created by Phillip Andrew Bailey</p>

<div style="margin-right: 1rem;">
<img onclick="window.open('https://www.linkedin.com/in/ogphillip-bailey/', '_blank');"  src="../../assets/img/linkedin-icon.png" alt="">
</div>


</div>
 
