<div class="card-box">


    <div class="card">
    <img src="../../assets/img/church-card.png" alt="">
    <p class="card-text">Belief-Ministries is a landing page for what could be a website for anyone looking to start a church buisness.</p>
    <button onclick="window.open('https://beliefministries.netlify.app/', '_blank');"class="mywork-btn">Check it Out</button>
    </div>
    
    
    
    <div class="card">
    <img src="../../assets/img/barder-card.png" alt="">
    <p class="card-text">Barbershop faith is a landing page for what could be a website for anyone looking to start a barbershop buisness.</p>
    <button onclick="window.open('https://barberfaith.netlify.app/', '_blank');"class="mywork-btn">Check it Out</button>
    </div>
    
    
    <div class="card">
    <img src="../../assets/img/home-card.png" alt="">
    <p class="card-text">Gracious Crossings is a landing page for what could be a website for anyone looking to start a home buying buisness.</p>
    <button onclick="window.open('https://gracious-crossings.netlify.app/', '_blank');"class="mywork-btn">Check it Out</button>
    </div>
    
    <div class="card">
    <img src="../../assets/img/news-card.png" alt="">
    <p class="card-text">Itruth News is a landing page for what could be a website for anyone looking to start a news buisness.</p>
    <button onclick="window.open('https://itruthnews.netlify.app/', '_blank');"class="mywork-btn">Check it Out</button>
    </div>
    
    <div class="card">
    <img src="../../assets/img/e-commerce-card.png" alt="">
    <p class="card-text">E-commerce is a landing page for what could be a website for anyone looking to start a e-commerce buisness.</p>
    <button onclick="window.open('https://e-comerrce.netlify.app/', '_blank');"class="mywork-btn">Check it Out</button>
    </div>
    
    
    
    
    
    
    </div>
    <div class="social-links-box">
    
    
        <p>&#169;Created by Phillip Andrew Bailey</p>
        
        <div style="margin-right: 1rem;">
        <img onclick="window.open('https://www.linkedin.com/in/ogphillip-bailey/', '_blank');"  src="../../assets/img/linkedin-icon.png" alt="">
        </div>
        
        
        </div>
